.Theme_root_default-desktop {
    --typo-control-font-family: Arial, sans-serif;
    --typo-control-size-s-font-size: 20px; /* Font size for all controls with size s */
    --typo-control-size-m-font-size: 24px; /* Font size for all controls with size m */
}
