.Theme_color_default-touch {
    --button-fill-color: var(--color-controls-type-action-fill-color-base);
    --color-controls-type-action-fill-color-base: #fff;
    --color-controls-type-action-fill-color-hover: #ccc;
    --color-controls-type-action-typo-base: #999;
}
