:root {
  --color-controls-type-action-typo-base: #999;
  --color-controls-type-action-fill-color-base: #fff;
  --color-controls-type-action-fill-color-hover: #ccc;
  --typo-control-font-family: Arial, sans-serif;
  --typo-control-size-s-font-size: 20px;
  --typo-control-size-m-font-size: 24px;
}
